services:
  minibini:
    container_name: minibini
    image: ashannonlee/minibini
    build: .
    #volumes:
    #  - '/home/slee/git/konbini/Minibini:/minibini'
    ports:
      - '8000:8000'
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
        restart: true
  mysql:
    container_name: mysql
    image: mariadb:latest
    environment:
      - MYSQL_ROOT_PASSWORD=Ru5UPhae
      - MARIADB_DATABASE=minibini_db
      - MARIADB_USER=minidb_user
      - MARIADB_PASSWORD=Ru5UPhae
    ports:
      - '3306:3306'
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--su-mysql", "--connect", "--innodb_initialized"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s # Gives time for initial setup
#   nginx-proxy:
#     container_name: nginx-proxy
#     image: jwilder/nginx-proxy
#     environment:
#       - ENABLE_IPV6=false
#     volumes:
#       - /docker/nginx-config:/etc/nginx/conf.d
#       - /docker/certs:/etc/nginx/certs
#       - /docker/nginx-vhost:/etc/nginx/vhost.d
#       - /docker/nginx-html:/usr/share/nginx/html
#       - /docker/nginx-dhparam:/etc/nginx/dhparam
#       - /var/run/docker.sock:/tmp/docker.sock:ro
#     ports:
#       - '80:80'
#       - '443:443'
#     restart: always
#     labels:
#       - com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy=true
#   letsencrypt-nginx-proxy-companion:
#     container_name: letsencrypt-nginx-proxy-companion
#     image: jrcs/letsencrypt-nginx-proxy-companion
#     volumes:
#       - '/docker/certs:/etc/nginx/certs:rw'
#       - '/var/run/docker.sock:/var/run/docker.sock:ro'
#       - '/docker/nginx-vhost:/etc/nginx/vhost.d'
#       - '/docker/nginx-html:/usr/share/nginx/html'
#       - '/docker/nginx-dhparam:/etc/nginx/dhparam'
#     restart: always
